{% load static %}
<nav class="navbar navbar-expand-sm navbar-dark" style="background-color: rgba(40, 88, 255, 0.85);">
  <a class="navbar-brand" href="{% url 'home' %}">
    <img src="{% static 'images/logons.png' %}" alt="logo" height="60px">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'home' %}">Trang chủ <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Thể loại
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Tiểu thuyết</a>
          <a class="dropdown-item" href="#">Truyện tranh</a>
          <a class="dropdown-item" href="#">SGK</a>
        </div>
      </li>
      {% if user.is_authenticated %}
        {% if user.person.get_group_name == 'Thủ kho' %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'book_entry' %}">Nhập sách</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Báo cáo
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="{% url 'inventory_report' %}">Báo cáo tồn</a>
              <a class="dropdown-item" href="{% url 'debt_report' %}">Báo cáo nợ</a>
              
            </div>
          </li>
        {% elif user.person.get_group_name == 'Khách hàng' %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'list_invoice' %}">Hóa đơn</a>
          </li>
          
        {% endif %}
      {% endif %}
    </ul>

    <!-- <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form> -->

    </ul>
    <div class="form-inline my-2 my-lg-0">
      <ul class="navbar-nav">
        {% if user.is_authenticated %}
        <li class="nav-item">
          <a class="btn" style="background-color: #FFBA81; border-radius: 40px;" href="/customer_info/">{{request.user.person.get_group_name}} {{request.user}}</a>
        </li>
          {% if user.person.get_group_name == 'Khách hàng' %}
            <a href="{% url 'cart' %}">
              <img id="cart-icon" src="{% static 'images/cart.png' %}" alt="cart-icon">
            </a>
            <p id="cart-total">{{cartItems}}</p>
          {% endif %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'logout' %}">Đăng xuất</a>
        </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'login' %}">Đăng nhập</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'register' %}">Đăng ký</a>
        </li>
        {% endif %}
    </ul>
    </div>
  </div>
</nav>